html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 980px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
}

input, button {
    margin: 15px;
}